.App {
  width: 100vw;
  height: 100vh;
  margin: auto;
  text-align: center;
}

h1,
h3 {
  font-family: 'Gemunu Libre', sans-serif;
}

h1 {
  font-size: 4rem;
  height: 90%;
}

h2 {
  font-size: 4rem;
  width: 75%;
  margin: 10rem auto 1rem;
  transition: 0.5s ease-in-out;
}

h3 {
  font-size: 3rem;
  height: 10%;
}

p {
  font-size: 2rem;
}

button {
  transition: 0.5s ease-in-out;
  font-weight: bold;
  background-color: transparent;
  width: 100%;
  border: none;
}

.NameButton {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.NameButton:hover:not(:disabled) {
  font-size: 5.1rem;
}

.bg {
  position: fixed;
  top: -100rem;
  left: -100rem;
  right: 0;
  bottom: 0;
  height: 250rem;
  width: 250rem;
  overflow: hidden;
}

.Title {
  width: 100%;
  height: 20rem;
  padding-bottom: 1rem;
}

.AppBody {
  height: 80vw;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 50%;
  border-top: 1px solid rgba(255, 255, 255, 0.389);
  margin: 1rem auto;
}

.AppBody * {
  font-family: 'Gemunu Libre', sans-serif;
}

.NeutralText {
  color: #e3befbcb;
}

.Neutral {
  box-shadow: 0 -10px 100px 0 #b976efb6;
  background-color: #1e0c33f9;
}

.LightSideText {
  color: #a19ffecb;
}

button.LightSideText:hover {
  text-shadow: 0 0 0.3rem #1500ff, 0 0 0.1rem #1500ff, 0 0 0.2rem #ffffff;
}

.LightSideBar {
  background-color: #a19ffecb;
}

.LightSide {
  box-shadow: 0 -10px 100px 0 #7688efb6;
  background-color: #141650f9;
}

.DarkSideText {
  color: #f58585cb;
}

button.DarkSideText:hover {
  text-shadow: 0 0 0.3rem #ff0000, 0 0 0.1rem #ff0000, 0 0 0.2rem #ffffff;
}

.DarkSideBar {
  background-color: #f58585cb;
}

.DarkSide {
  box-shadow: 0 -10px 100px 0 #ef7676b6;
  background-color: #330c0cf9;
}

.Battle {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.Characters {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.Character {
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: flex-start;
  align-items: center;
  height: 30rem;
}

.BarContainer {
  height: 14rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.WinPctBar {
  color: white;
  width: 7.5rem;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NextButton {
  margin-top: 1rem;
  margin-bottom: 7.5rem;
  font-size: 10rem;
  height: 15rem;
}

.NextButton:hover:not(:disabled) {
  font-size: 11rem;
}

.Links {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.Links img {
  height: 10rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  :root {
    font-size: 3px;
  }

  .bg {
    top: -50rem;
    height: 400rem;
    width: 400rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  :root {
    font-size: 6px;
  }

  .bg {
    top: -50rem;
    left: -50rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  :root {
    font-size: 7px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  :root {
    font-size: 9px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1440px) {
  :root {
    font-size: 13px;
  }
}

@media only screen and (min-width: 2560px) {
  :root {
    font-size: 20px;
  }

  .bg {
    height: 300rem;
    width: 300rem;
  }
}